@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype'); 
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
}

*,*::after,*::before {
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font: normal 400 1rem $font-regular;
    color: $color-font;
    line-height: 1.3;
}

a {
    text-decoration: none;
    color: $color-font-2;
}