// ====================== //
// ===== Variables ===== //
// ==================== //

// COLORS
$color-primary: #F6E71D;
$color-primary-2: #F5D10D;
$color-font: #181818;
$color-font-2: #020202;
$color-gray: #8d8d8d;
$color-light: #f8f9fa;
$color-dark: #223b55;

// FONTS
$font-regular: 'Montserrat-Regular', cursive;
$font-bold: 'Montserrat-Regular', cursive;

// BORDER COLORS
$box-shadow: 0 0 0.2rem #090a0a7a;
$box-shadow-2: 0 0.5rem 0.5rem #0d2e2e23;
$box-shadow-3: 0 0.3rem 0.8rem #252c2c2f;
