.btn {
    display: inline-block;
    background-color: $color-primary;
    border: 0;
    padding: 1rem 3.5rem;
    font: normal 900 1rem/1.2rem $font-bold;
    cursor: pointer;
}

.btn:hover {
    background-color: $color-primary-2;
}