.search {
    &__side {
        padding: 2rem 0;
    }

    &__form {
        background-color: $color-light;
        box-shadow: $box-shadow;
        display: flex;
        
        &--side {
            margin: 0 5%;
        }
    }

    &__input {
        border: none;
        padding: 0.5rem 1rem;
        background-color: transparent;
        font: normal 300 .9rem $font-regular;
        width: 100%;

    }

    .btn {
        &--submit {
            background-color: $color-primary;
            border: none;
            padding: .5rem 1rem;
            cursor: pointer;
            transition: background .5s ease;

        }

        &--submit:hover {
            background-color: $color-primary-2;
        }
    }
}