.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
    
    &__toggle-button {
        margin-left: auto;
        display: none;
        border: 1px solid $color-primary;
        color: $color-primary;
        font-size: 1.5rem;
        padding: .1rem 1rem;
        box-shadow: $box-shadow;
        cursor: pointer;
    }

    &__toggle-button:hover {
        color: $color-gray;
    }

    &__nav {
        list-style-type: none;
        display: flex;
        flex-direction: row;
    }

    &__collapse {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    &__link {
        padding: 0.5vw;
        color: $color-font;
    }

    &__link:hover {
        color: $color-primary;
    }

    &__nav-collapse {
        height: 24rem !important;
    }
}

@media (max-width: 992px) {
    .navbar {
        flex-wrap: wrap;
        justify-content: center;

        &__toggle-button {
            display: block !important;
        }

        &__collapse,
        &__nav {
            flex-direction: column;
            margin: auto;
            text-align: center;
        }

        &__form {
            display: inline-block;
            margin: 5% 0;
        }

        &__item {
            padding: 10px 0 !important;
        }
    }
}